<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="author" content="Yinka Enoch Adedokun">
	<meta name="description" content="Simple Forgot Password Page Using HTML and CSS">
	<meta name="keywords" content="forgot password page, basic html and css">
	<title>Forgot Password Page - HTML + CSS</title>
	<link rel="stylesheet" href="Cforgot-password.css">
</head>

<body>
	<div class="row">
			<form th:action="@{/change-pass}" method="post" name="signupForm" id="signupForm">
			<h2 class="formTitle">
				<i>Change Login Password</i>
			</h2>
				<div class="inputDiv">
				<label class="inputLabel" for="newpassword">Give A New Password</label>
				<input type="password" id="password" name="password" required>
			</div>
			<div class="buttonWrapper">
				<button type="submit" id="submitButton" class="submitButton pure-button pure-button-primary">
					<span>Submit</span>
				</button>
			</div>
			 <a class="text-center buttonWrapper btn btn-primary" th:href="@{/customerlogin}">Back To Login</a>
		</form>








	</div>
</body>

</html>